<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SREC Seminar Hall Booking App</title>
</head>
<body>
    
    <script src="./libs/Jquery/jquery.min.js"></script>
    <script src="./libs/Bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./libs/Bootstrap/bootstrap.min.css">
    
    <link rel="stylesheet" href="./styles/index.css">

    <!-- <h1> Site Construction will be started soon .... Keep Updated..</h1> -->
    
    <body class="container-fluid">
        <nav class="nav myNav">
            <div class="navmain">
                <span class="navbar-brand">
                    <span class="brand"> SREC-SHB</span>
                </span>
                <div class="endnav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Halls</a></li>

                </div>
            </div>
        </nav>
    </body>

</body>
</html>